


<div class="row mt-5 fw-bold text-center " >
    <h1>404</h1>
    <img style="width:50%; display:block; margin-left:auto; margin-right:auto;
src="https://user-images.githubusercontent.com/95895380/151357210-198ab4e1-7633-48a8-8382-c19532cb52d0.png" />

    <p style="font-size:30px;" ></p>



</div>